---
title: "Polars for Feature Engineering"
description: "Polars is a high-performance DataFrame library, designed to provide fast and efficient data processing capabilities. Inspired by the reigning pandas library, Polars takes things to another level, offering a seamless experience for working with large datasets that might not fit into memory."
author: "Vidyasagar Bhargava"
date: "01/03/2024"
categories:
  - polars
  - feature engineering
jupyter: python3
title-block-banner: true
image: "https://cdn.icon-icons.com/icons2/3914/PNG/512/polars_logo_icon_248809.png"
---

Polars API are

1.  Simple
2.  Consistent
3.  Grammar

Most of the feature engineering task based on below 7 verbs

| Task                            | verb          |
|---------------------------------|---------------|
| select/slice columns            | select        |
| create/transform/assign columns | with_columns  |
| filter/slice/query rows         | filter        |
| join/merge other dataframes     | join & concat |
| group dataframe rows            | group_by      |
| aggregate groups                | agg           |
| sort dataframe                  | sort          |

: 7 Verbs Get Most Jobs done

In [1]:
import polars as pl
df = pl.read_csv("StudentsPerformance.csv")
df.head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 2   ┆ female ┆ group C       ┆ some college  ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 4   ┆ male   ┆ group A       ┆ associate's   ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 5   ┆ male   ┆ group C       ┆ some college  ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘


## 1. Select Columns
-   Selecting 1 column

In [2]:
df.select(pl.col('gender')).head()

shape: (5, 1)
┌────────┐
│ gender │
│ ---    │
│ str    │
╞════════╡
│ female │
│ female │
│ female │
│ male   │
│ male   │
└────────┘

-   Selecting two or more columns

In [3]:
df.select(pl.col(['gender', 'math score'])).head()

shape: (5, 2)
┌────────┬────────────┐
│ gender ┆ math score │
│ ---    ┆ ---        │
│ str    ┆ i64        │
╞════════╪════════════╡
│ female ┆ 72         │
│ female ┆ 69         │
│ female ┆ 90         │
│ male   ┆ 47         │
│ male   ┆ 76         │
└────────┴────────────┘

-   Selecting all the columns

In [4]:
df.select(pl.col('*')).head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 2   ┆ female ┆ group C       ┆ some college  ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 4   ┆ male   ┆ group A       ┆ associate's   ┆ … ┆ none         ┆ 47         ┆ 57      ┆ 44      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 5   ┆ male   ┆ group C       ┆ some college  ┆ … ┆ none         ┆ 76         ┆ 78      ┆ 75      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

## 2. Create Columns

-   Creating a new column "sum" by summing `math score` and `reading score`

In [5]:
df.with_columns(
    (pl.col('math score') + pl.col('reading score')).alias('sum')
).head()

shape: (5, 10)
┌─────┬────────┬────────────────┬────────────────┬───┬────────────┬─────────┬────────────────┬─────┐
│ id  ┆ gender ┆ race/ethnicity ┆ parental level ┆ … ┆ math score ┆ reading ┆ writing score  ┆ sum │
│ --- ┆ ---    ┆ ---            ┆ of education   ┆   ┆ ---        ┆ score   ┆ ---            ┆ --- │
│ i64 ┆ str    ┆ str            ┆ ---            ┆   ┆ i64        ┆ ---     ┆ i64            ┆ i64 │
│     ┆        ┆                ┆ str            ┆   ┆            ┆ i64     ┆                ┆     │
╞═════╪════════╪════════════════╪════════════════╪═══╪════════════╪═════════╪════════════════╪═════╡
│ 1   ┆ female ┆ group B        ┆ bachelor's     ┆ … ┆ 72         ┆ 72      ┆ 74             ┆ 144 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 2   ┆ female ┆ group C        ┆ some college   ┆ … ┆ 69         ┆ 90      ┆ 88             ┆ 159 │
│ 3   ┆ female ┆ group B        ┆ master's       ┆ … ┆ 90         ┆ 95      ┆ 93             ┆ 185 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 4   ┆ male   ┆ group A        ┆ associate's    ┆ … ┆ 47         ┆ 57      ┆ 44             ┆ 104 │
│     ┆        ┆                ┆ degree         ┆   ┆            ┆         ┆                ┆     │
│ 5   ┆ male   ┆ group C        ┆ some college   ┆ … ┆ 76         ┆ 78      ┆ 75             ┆ 154 │
└─────┴────────┴────────────────┴────────────────┴───┴────────────┴─────────┴────────────────┴─────┘

## 3. Filter

-   Simple filtering

    selecting `female` students

In [6]:
df.filter(pl.col('gender')=='female').head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 2   ┆ female ┆ group C       ┆ some college  ┆ … ┆ completed    ┆ 69         ┆ 90      ┆ 88      │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 6   ┆ female ┆ group B       ┆ associate's   ┆ … ┆ none         ┆ 71         ┆ 83      ┆ 78      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 7   ┆ female ┆ group B       ┆ some college  ┆ … ┆ completed    ┆ 88         ┆ 95      ┆ 92      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

-   Multiple filtering

    selecting `female` students those belong to `group B`

In [7]:
df.filter(
    (pl.col('gender')=='female') & 
    (pl.col('race/ethnicity')=='group B')
).head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 1   ┆ female ┆ group B       ┆ bachelor's    ┆ … ┆ none         ┆ 72         ┆ 72      ┆ 74      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 3   ┆ female ┆ group B       ┆ master's      ┆ … ┆ none         ┆ 90         ┆ 95      ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 6   ┆ female ┆ group B       ┆ associate's   ┆ … ┆ none         ┆ 71         ┆ 83      ┆ 78      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 7   ┆ female ┆ group B       ┆ some college  ┆ … ┆ completed    ┆ 88         ┆ 95      ┆ 92      │
│ 10  ┆ female ┆ group B       ┆ high school   ┆ … ┆ none         ┆ 38         ┆ 60      ┆ 50      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘

## 4. Join

In [8]:
df2 = pl.read_csv('LanguageScore.csv')
df.join(df2, on="id").head()

shape: (5, 10)
┌─────┬────────┬─────────────────┬─────────────────┬───┬────────────┬─────────┬─────────┬──────────┐
│ id  ┆ gender ┆ race/ethnicity  ┆ parental level  ┆ … ┆ math score ┆ reading ┆ writing ┆ language │
│ --- ┆ ---    ┆ ---             ┆ of education    ┆   ┆ ---        ┆ score   ┆ score   ┆ score    │
│ i64 ┆ str    ┆ str             ┆ ---             ┆   ┆ i64        ┆ ---     ┆ ---     ┆ ---      │
│     ┆        ┆                 ┆ str             ┆   ┆            ┆ i64     ┆ i64     ┆ i64      │
╞═════╪════════╪═════════════════╪═════════════════╪═══╪════════════╪═════════╪═════════╪══════════╡
│ 1   ┆ female ┆ group B         ┆ bachelor's      ┆ … ┆ 72         ┆ 72      ┆ 74      ┆ 74       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 2   ┆ female ┆ group C         ┆ some college    ┆ … ┆ 69         ┆ 90      ┆ 88      ┆ 67       │
│ 3   ┆ female ┆ group B         ┆ master's degree ┆ … ┆ 90         ┆ 95      ┆ 93      ┆ 34       │
│ 4   ┆ male   ┆ group A         ┆ associate's     ┆ … ┆ 47         ┆ 57      ┆ 44      ┆ 33       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 5   ┆ male   ┆ group C         ┆ some college    ┆ … ┆ 76         ┆ 78      ┆ 75      ┆ 75       │
└─────┴────────┴─────────────────┴─────────────────┴───┴────────────┴─────────┴─────────┴──────────┘

## Concat

In [9]:
df2 = df2.drop("id")
pl.concat([df, df2], how="horizontal").head()

shape: (5, 10)
┌─────┬────────┬─────────────────┬─────────────────┬───┬────────────┬─────────┬─────────┬──────────┐
│ id  ┆ gender ┆ race/ethnicity  ┆ parental level  ┆ … ┆ math score ┆ reading ┆ writing ┆ language │
│ --- ┆ ---    ┆ ---             ┆ of education    ┆   ┆ ---        ┆ score   ┆ score   ┆ score    │
│ i64 ┆ str    ┆ str             ┆ ---             ┆   ┆ i64        ┆ ---     ┆ ---     ┆ ---      │
│     ┆        ┆                 ┆ str             ┆   ┆            ┆ i64     ┆ i64     ┆ i64      │
╞═════╪════════╪═════════════════╪═════════════════╪═══╪════════════╪═════════╪═════════╪══════════╡
│ 1   ┆ female ┆ group B         ┆ bachelor's      ┆ … ┆ 72         ┆ 72      ┆ 74      ┆ 74       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 2   ┆ female ┆ group C         ┆ some college    ┆ … ┆ 69         ┆ 90      ┆ 88      ┆ 67       │
│ 3   ┆ female ┆ group B         ┆ master's degree ┆ … ┆ 90         ┆ 95      ┆ 93      ┆ 34       │
│ 4   ┆ male   ┆ group A         ┆ associate's     ┆ … ┆ 47         ┆ 57      ┆ 44      ┆ 33       │
│     ┆        ┆                 ┆ degree          ┆   ┆            ┆         ┆         ┆          │
│ 5   ┆ male   ┆ group C         ┆ some college    ┆ … ┆ 76         ┆ 78      ┆ 75      ┆ 75       │
└─────┴────────┴─────────────────┴─────────────────┴───┴────────────┴─────────┴─────────┴──────────┘

## 5. Group By

Count total elements for each `race/ethnicity`

In [10]:
df.group_by('race/ethnicity').count()

shape: (5, 2)
┌────────────────┬───────┐
│ race/ethnicity ┆ count │
│ ---            ┆ ---   │
│ str            ┆ u32   │
╞════════════════╪═══════╡
│ group B        ┆ 190   │
│ group A        ┆ 89    │
│ group D        ┆ 262   │
│ group C        ┆ 319   │
│ group E        ┆ 140   │
└────────────────┴───────┘

## 6. Aggregate

average `math score` for females and males

In [11]:
df.group_by('gender').agg(pl.col('math score').mean().alias('mean_score'))

shape: (2, 2)
┌────────┬────────────┐
│ gender ┆ mean_score │
│ ---    ┆ ---        │
│ str    ┆ f64        │
╞════════╪════════════╡
│ male   ┆ 68.728216  │
│ female ┆ 63.633205  │
└────────┴────────────┘

## 7. Sort

sort the dataframe by `math score`

In [12]:
df.sort('math score',descending=True).head()

shape: (5, 9)
┌─────┬────────┬───────────────┬───────────────┬───┬──────────────┬────────────┬─────────┬─────────┐
│ id  ┆ gender ┆ race/ethnicit ┆ parental      ┆ … ┆ test         ┆ math score ┆ reading ┆ writing │
│ --- ┆ ---    ┆ y             ┆ level of      ┆   ┆ preparation  ┆ ---        ┆ score   ┆ score   │
│ i64 ┆ str    ┆ ---           ┆ education     ┆   ┆ course       ┆ i64        ┆ ---     ┆ ---     │
│     ┆        ┆ str           ┆ ---           ┆   ┆ ---          ┆            ┆ i64     ┆ i64     │
│     ┆        ┆               ┆ str           ┆   ┆ str          ┆            ┆         ┆         │
╞═════╪════════╪═══════════════╪═══════════════╪═══╪══════════════╪════════════╪═════════╪═════════╡
│ 150 ┆ male   ┆ group E       ┆ associate's   ┆ … ┆ completed    ┆ 100        ┆ 100     ┆ 93      │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 452 ┆ female ┆ group E       ┆ some college  ┆ … ┆ none         ┆ 100        ┆ 92      ┆ 97      │
│ 459 ┆ female ┆ group E       ┆ bachelor's    ┆ … ┆ none         ┆ 100        ┆ 100     ┆ 100     │
│     ┆        ┆               ┆ degree        ┆   ┆              ┆            ┆         ┆         │
│ 624 ┆ male   ┆ group A       ┆ some college  ┆ … ┆ completed    ┆ 100        ┆ 96      ┆ 86      │
│ 626 ┆ male   ┆ group D       ┆ some college  ┆ … ┆ completed    ┆ 100        ┆ 97      ┆ 99      │
└─────┴────────┴───────────────┴───────────────┴───┴──────────────┴────────────┴─────────┴─────────┘